@tailwind base;
@tailwind components;
@tailwind utilities;

/* On garde juste ça pour gérer les transitions de couleur */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* Les styles globaux de base */
body {
  /* On applique une transition douce pour le mode sombre */
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}